.container{
	max-width:1110px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
}
.news{
	max-width:700px;
	margin:auto;
	display: block;
}
.card{
	width:350px;
	margin:5px;
}
.jumbotron{
	background-color:#fff;
	padding: 4rem 0rem;
}

@media only screen and (max-width: 1109px) {
	.container{
		max-width:760px;
	}
}

@media only screen and (max-width: 759px) {
.card{
	width:100%;
	margin:0px;
}
}